DEBUG=1
SECRET_KEY=somesecret
ENVIRONMENT=dev
DATABASE=postgresSQL_ENGINE=django.db.backends.postgresql
DATABASE_URL=postgresql://user:password@172.17.0.1:20432/test_db
ALLOW_EMPTY_PASSWORD=yes
FLOWER_BASIC_AUTH=user:pass
RABBITMQ_URL=amqp://mquser:mqpass@rabbitmq:5672
ALLOWED_HOSTS=localhost,127.0.0.1
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=