
venv/
.history/
__pycache__/
.idea/
logs/celery.log
celery.log
celerybeat-schedule
.vscode/
setup.cfg
.env
.env.deploy
.env.production
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.DS_Store
celerybeat.pid
app/core/logs/debug.log
app/core/logs/celery.log
app/logs/debug.log
app/logs/celery.log
.env
.pytest_cache
/env
*.sqlite3
.coverage
htmlcov
/logs/
**/logs/**
docker-compose.test.yaml
